.judul_lms{
  text-shadow: 0px 8px 8px #00000040;
  font-family: "Kameron-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  }

.judul_lmsfile{
    text-align: center;
}

.pppkpetra_ver{
    position: absolute;
    width: 10px;
    top: 150px;
    left: 1170px;
    font-family: "Kameron-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.btn_dashboard{
    text-align: center;
    align-items: center;
}

.btn_dash{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 10px 10px;
    font-family: Calibri;
    width: 160px;
    border-radius: 20px;
    color:#ffffff;
    background-color: #103200;
    border-style: groove;
    border-color: 2px #ffffff;
}

.btn_dash:hover{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 8px 10px 10px;
    font-family: Calibri;
    width: 160px;
    border-radius: 20px;
    color: #000;;
    background-color: #fff;
    border-style: groove;
    border-color: 2px #000;
}
